<a target="_blank" href="https://colab.research.google.com/github/JLDC/Data-Science-Fundamentals/blob/master/notebooks/007_joins-and-merges.ipynb">
    <img src="https://i.ibb.co/2P3SLwK/colab.png"  style="padding-bottom:5px;" />Open this notebook in Google Colab
</a>

___

# Joining and Merging Datasets
___
In this notebook, we will cover how to join and merge datasets together. While you will not use *joining* and *merging* a lot in the notebooks we view in class, because the data we provide you with is relatively clean, it is likely to be amongst the tools you use the most *in the wild*, i.e., when doing your own research or working as a data scientist somewhere. ⚠️ **You will definitely use it a lot in your projects!** ⚠️

Ofentimes, data stems from multiple sources and is scattered among multiple individual files. You need to be able to combine those files and sources into one big dataset which you can use for your analysis.

___
## Data pre-processing
Let's first load and inspect two of our SNB datasets, the exchange rates and trades.

In [ ]:
# Import necessary packages
import pandas as pd

# Define the path where the data is stored
DATA_PATH = "https://raw.githubusercontent.com/JLDC/Data-Science-Fundamentals/master/data"

#### ➡️ ✏️ Task 1

Read in the two following datasets:
+ The exchange rate information from **data/snb-xrates-wide.csv** into a dataframe called `snb_xr`
+ The trades information from **data/snb-trades-wide.csv** into a dataframe called `snb_t`

Inspect the datasets using the `.head()` method.

In [ ]:
# Enter your code below

In [ ]:
# Inspect exchange rates
snb_xr.head(5)

In [ ]:
# Inspect trades
snb_t.head(5)

___
## Merging data
As can be taken from the official documentation, [joining and merging is a complex topic](https://pandas.pydata.org/docs/user_guide/merging.html), depending on what you are aiming to do, you need to use different specifications.

In particular, we see that the `snb_t` dataframe has dates going back to 1997, while the `snb_xr` only has dates going back to 2001. If we try to combine these two dataframes, we must make a judgment call on how to handle the years which are covered by one dataset and not the other, i.e., what do we do with our data between 1997 and 2001?

Furthermore, we need a column that is present in both dataframes, this is called the **key**. In our case, it's an easy choice, it's clear that the key is the date, i.e., when joining both dataframes, we will end up with a dataframe that still has only one date, but now has all the columns of both dataframes. It's also easy because our key has the same name in both dataframes, but if you look at the documentation, you will see that we can also deal with keys that have different names (as long as the contents are the same!)

The way `pandas` provide merging/joining is through the function

```python
pd.merge(left_df, right_df, how="inner")
```

Basically, this function takes two dataframes, a *left* one, and a *right* one (this is standard nomenclature and comes from database joins, e.g., using SQL). The `how` keyword then governs *how* the data is merge. Here is a short overview of the four most important merges you will see:

|`how`|Effect|
|--:|:--|
|`left`|The key in `left_df` is the one that governs the merge. At the end, your merged dataframe will have **exactly** the same keys as the `left_df`, if `right_df` has some key values which are not present in `left_df`, those rows will be dropped.|
|`right`|The exact same thing as above, but with the roles of `left_df` and `right_df` inversed.|
|`inner`|The keys in the final dataframe are the keys which are present **in both dataframes**, i.e., we drop every observation that has only a key in either `left_df` or `right_df` but not in both!|
|`outer`|This time we keep all the keys, as long as they appear somewhere, we will keep them in our final dataframe.|

This might all sound a bit abstract, so let's start with a very simple toy example.

In [ ]:
# Load a first dataframe
students_gpa = pd.read_csv(f"{DATA_PATH}/students_gpa.csv")
students_gpa # Show the data

In [ ]:
# Load a second dataframe
students_track = pd.read_csv(f"{DATA_PATH}/students_track.csv")
students_track # Show the data

So we have 4 students for which we have the GPA, and 5 for which we have the track, but we only have an overlap of 3 students amongst both dataframes. This is something very typical of what you will encounter in your work and research.

In [ ]:
# Left join with GPA as left dataframe
pd.merge(students_gpa, students_track, how="left")

See what happens? Our dataframe has the exact same **key** (students) as the left dataframe because we used a **left** join. For all students for which we don't have an observation in the `students_track` dataframe, the value is simply a `NaN`, i.e., *not a number*, an indication of a missing value!

Note that we didn't specify the key, but because the dataframes had a column with the same name (`student`), these was used as a key! We could have specified the key also, see below.

In [ ]:
# Right join with student as right dataframe
pd.merge(students_gpa, students_track, how="right", on="student")

This is similar but now we have all `track` values filled, because we used the `students_track` dataframe as the *base* for our merge (the *right* dataframe in a *right* merge!)

Note that, as in life, *left* and *right* are relative concepts. We can achieve the exact same result as above using a left join with the left dataframe being `students_track`!

In [ ]:
# Exact same result but with a left join, this time changing the left and right dataframe!
pd.merge(students_track, students_gpa, how="left", on="student")

Okay, all that is left is to have a look at **inner** and **outer** join. Do you already understand what they are supposed to do? Notice that the left and right dataframe does not matter in the context of inner and outer joins!

In [ ]:
# First an inner join
pd.merge(students_gpa, students_track, how="inner")

An *inner* join only keeps observations that are present in **both** dataframes! There are only two of them. The nice thing is that our final data is clean, i.e., we have no `NaN`, because we discarded all those observations that would have resulted in missing information!

In [ ]:
# And lastly, an outer join
pd.merge(students_gpa, students_track, how="outer")

And now, using an *outer* join, we keep **everything**, it doesn't matter if they are only present in one dataframe! We end up with a dataframe with many `NaN` but it also has a lot of observations.

___
#### 🤔 Pause and ponder
Is there a join which is better than the others? Can you think of a scenario where you prefer a left/right join? What about an inner join or an outer join?
___

## Your turn
Alright, enough reading. Let's get our hands dirty and play around with joins involving real data.

#### ➡️ ✏️ Task 2

For each SNB dataset read in, create a `_small` version:  
+ `snb_xr_small` should contain only three columns: `Date`, `EUR1`, and `USD1`
+ `snb_t_small` should contain only three columns: `Date`, `A_GT_WMF`, and `E_GT_WMF`

In [ ]:
# Enter your code below

#### ➡️ ✏️ Task 3

Perform a **left** join, where `snb_xr_small` is the left dataframe, and `snb_t_small` is the right dataframe.

In [ ]:
# Enter your code below

#### ➡️ ✏️ Task 4

Perform a **right** join, where `snb_xr_small` is the left dataframe, and `snb_t_small` is the right dataframe.

In [ ]:
# Enter your code below

#### ➡️ ✏️ Task 5

Compare the results of task 3 and task 4. What can you say about the difference? In particular look at the size of your dataframes and the values in the first and last rows!

Perform an **inner** join. Can you figure out what the size of the resulting dataframe will be before even running the code?

In [ ]:
# Enter your code below