<a target="_blank" href="https://colab.research.google.com/github/JLDC/Data-Science-Fundamentals/blob/master/notebooks/01_data-pre-processing.ipynb">
    <img src="https://i.ibb.co/2P3SLwK/colab.png"  style="padding-bottom:5px;" />Open this notebook in Google Colab
</a>

___

# A First Encounter with Data in Python
___
In the first class, you have gotten to know the iris data, a type of *"hello world"* object in data science. In this script, we will play around with the iris data using Python code. You will learn the very first steps of what we call **data pre-processing**, i.e. making data ready for (algorithmic) analysis.


## Getting to know new data
___
When we obtain new data, we have to inspect it to understand its contents and gather ideas on how to proceed with the analysis. Let us start by getting familiar with the **iris** dataset using Python's dataframe package: `pandas`.

In [1]:
# pandas is the Python package for dataframes, i.e., data management
import pandas as pd

In [2]:
# Load the iris dataset indicating the path to the data file
pd.read_csv("../data/iris.csv")

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [3]:
# It's more convenient if you give it a name...
iris = pd.read_csv("../data/iris.csv")

In [4]:
type(iris) # Object type of the iris variable

pandas.core.frame.DataFrame

iris # Display the content of the iris dataset

In [5]:
# We can also just display the first (or last) few variables instead
iris.head(10) # 10 first observations
# head is called a METHOD

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
5,5.4,3.9,1.7,0.4,setosa
6,4.6,3.4,1.4,0.3,setosa
7,5.0,3.4,1.5,0.2,setosa
8,4.4,2.9,1.4,0.2,setosa
9,4.9,3.1,1.5,0.1,setosa

In [6]:
iris.tail(6) # 6 last observations

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
144,6.7,3.3,5.7,2.5,virginica
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

### A note on functions and methods
Notice above how we have applied functions to the iris dataframe in different manners:
1. `type(iris)`
2. `iris.head()`

In the first case, `type` is a **function** and the argument we provide to the function is the dataframe `iris`. We could, however, also have used any other object, e.g., `type(42)`, `type(None)`, or, `type("data science is fun!")`.

In the second case, `head` is a **method**. A method is a special kind of function, which can only be called on specific objects, e.g., we cannot use `42.head()`, `nothing.head()`, or even `"data science is fun!".head()`. In this case, the `DataFrame` object from the `pandas` package, comes with a set of built-in methods. This is an important characteristic of **object-oriented programming**: we can create objects and we can define specific attributes or methods that only those objects will have.

This can seem somewhat overwhelming at first, but don't worry. While it can be helpful to understand these concepts, you don't have to know everything about them to use Python for data science!

In [7]:
iris.columns # Column names of the dataset

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'species'],
      dtype='object')

iris.describe() # Summary statistics of the dataset

In [8]:
iris.shape # Display the shape of the dataset (number of rows, number of columns)

(150, 5)

In [9]:
# the .shape method delivers a tuple, thus we can access the elements using bracket indexing
print(f"The 'iris' dataset has {iris.shape[0]} rows, and {iris.shape[1]} columns.")

The 'iris' dataset has 150 rows, and 5 columns.

## Selecting a subset of the data
___
Using `pandas`, there are several ways of subsetting the data. 

### Selecting only specific columns (features / variables)

iris["sepal length (cm)"] # Subset a single column of the dataset using its name

In [10]:
print(f"The type of the full dataset is: {type(iris)}")
print(f"The type of a single column is: {type(iris['sepal length (cm)'])}")

The type of the full dataset is: <class 'pandas.core.frame.DataFrame'>
The type of a single column is: <class 'pandas.core.series.Series'>

Notice how the single column is a `Series` and not a `DataFrame`. If you want your subset to be a dataframe with a single column, the name needs to be passed in a list, i.e.,

iris[["sepal length (cm)"]] # Subset a single column as a dataframe

In [11]:
# We can also subset multiple columns at once
iris[["sepal length (cm)", "petal length (cm)"]]

     sepal length (cm)  petal length (cm)
0                  5.1                1.4
1                  4.9                1.4
2                  4.7                1.3
3                  4.6                1.5
4                  5.0                1.4
..                 ...                ...
145                6.7                5.2
146                6.3                5.0
147                6.5                5.2
148                6.2                5.4
149                5.9                5.1

[150 rows x 2 columns]

Sometimes, it's easier to access the columns using their number instead of their names, we can use the `.columns` attribute to do so:

In [12]:
# Subset first 2 columns (remember, in Python we start counting at zero!)
iris[iris.columns[:2]]

     sepal length (cm)  sepal width (cm)
0                  5.1               3.5
1                  4.9               3.0
2                  4.7               3.2
3                  4.6               3.1
4                  5.0               3.6
..                 ...               ...
145                6.7               3.0
146                6.3               2.5
147                6.5               3.0
148                6.2               3.4
149                5.9               3.0

[150 rows x 2 columns]

Negative subsetting is also possible, i.e., subsetting everything but a single column. This is somewhat different to the subsetting we have seen as we use the method `.drop`. Note that this does not act *in-place*, i.e., the iris dataframe still contains the column we drop.

In [13]:
# Selecting everything but petal width
iris.drop(columns=["petal width (cm)"])

     sepal length (cm)  sepal width (cm)  petal length (cm)    species
0                  5.1               3.5                1.4     setosa
1                  4.9               3.0                1.4     setosa
2                  4.7               3.2                1.3     setosa
3                  4.6               3.1                1.5     setosa
4                  5.0               3.6                1.4     setosa
..                 ...               ...                ...        ...
145                6.7               3.0                5.2  virginica
146                6.3               2.5                5.0  virginica
147                6.5               3.0                5.2  virginica
148                6.2               3.4                5.4  virginica
149                5.9               3.0                5.1  virginica

[150 rows x 4 columns]

#### ➡️ ✏️ Task 1 

In the cell below, write your own code to compute the mean value of each column of the iris dataframe **except the last (species)**.

*Hint:* `pandas` dataframes come with the handy method `.mean()`, which will compute the mean across all columns of the dataframe (or the chosen subset).

In [14]:
# Enter your code here
iris.drop(columns=["species"]).mean()

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

### Selecting only specific rows (observations)

We have now seen how to select specific columns, but of course, we can also subset our dataframe row-wise instead of column-wise. In general, this is done using the `.loc` property but this is slightly more tricky than column-wise subsetting, so we need to introduce a few concepts.

#### Index of a dataframe
In Python, each row of a `pandas` dataframe has a corresponding index, you can use the method `.index` to access it, but you can also view it when displaying the dataframe (see above, the first bold number on each row is the index of the corresponding row).

There are generally two ways we can subset a dataframe row-wise:
1. by accessing the index directly,
2. by providing a boolean array

In [15]:
iris.loc[1:5] # Subset the dataframe to rows with index 1 to 5

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
5,5.4,3.9,1.7,0.4,setosa

Subsetting rows using the index is easy and straightforward, but it can be confusing if the index is not ordered, **which can sometimes happen!**

Here is an example of a non-ordered index dataframe and how filtering on the index affects the chosen subset. Notice how the index is not ordered, of course this is a somewhat *dumb* pedagogical example but it often happens in practice! In particular when the dataframe is cleaned and some rows are dropped

In [16]:
# Create an example dataframe with non ordered index
example_df = pd.DataFrame({"row_number": [0, 1, 2, 3, 4, 5]}, index=[5,0,4,1,2,3])
example_df

   row_number
5           0
0           1
4           2
1           3
2           4
3           5

In [17]:
# Subset the index with index-number 1 to 3, notice how it is not the first three rows!!!
example_df.loc[1:3]

   row_number
1           3
2           4
3           5

Okay, perhaps this is a bit complicated and you haven't yet understood everything. This is fine, just know that **subsetting on the index can be dangerous if you're not sure of what you are doing!**

Instead, it is often simpler to use a boolean array to do the indexing, so let's look at that. For instance, say we want to keep only observations with a petal width of 0.5 cm or more, how can we do this?

In [18]:
# Returns a boolean array of true/false depending on the petal width
iris["petal width (cm)"] > .5

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: petal width (cm), Length: 150, dtype: bool

In [19]:
# We can use this array as an input to the .loc[] property
iris.loc[    
    iris["petal width (cm)"] > .5    
]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
43,5.0,3.5,1.6,0.6,setosa
50,7.0,3.2,4.7,1.4,versicolor
51,6.4,3.2,4.5,1.5,versicolor
52,6.9,3.1,4.9,1.5,versicolor
53,5.5,2.3,4.0,1.3,versicolor
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

Et voilà, we have filtered our dataframe to only have observations with more than 0.5 cm petal width. Time to try it out yourself.

#### ➡️ ✏️ Task 2 
In the cell below, subset the dataframe such that it contains only observations of the species **"virginica"**.

*Hint:* remember, in Python, `=` represents assignment, while equality is represented by `==`.

In [20]:
# Enter your code here

### Selecting specific columns and rows

The `.loc` property can also be used to subset columns, the general idea is to write `.loc[row_subset_condition, column_subset_condition]`, for instance, we can display the petal width and length of all observations with a petal length of more than 6 cm.

In [21]:
# Before the comma, we have the row filtering logic, after the comma, the column filtering logic
iris.loc[
    iris["petal length (cm)"] > 6, # selection of rows
    
    ["petal width (cm)", "petal length (cm)"]  # selection of columns
]

     petal width (cm)  petal length (cm)
105               2.1                6.6
107               1.8                6.3
109               2.5                6.1
117               2.2                6.7
118               2.3                6.9
122               2.0                6.7
130               1.9                6.1
131               2.0                6.4
135               2.3                6.1

#### ➡️ ✏️ Task 3 
In the cell below, display the mean sepal length and mean sepal width of all observations with a petal width of at least 2 cm.

*Hint:* in Python, larger or equal is represented by `>=`

In [22]:
# Enter your code here


## Adding and removing columns
___
We have now seen how to view subsets of our dataframe, but what if we want to add or remove specific columns?

Let's begin by adding new columns, which is very easily done.

In [23]:
# Add a new column full of 1
iris["my_new_column"] = 1

In [24]:
iris # View the dataframe

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,my_new_column
0,5.1,3.5,1.4,0.2,setosa,1
1,4.9,3.0,1.4,0.2,setosa,1
2,4.7,3.2,1.3,0.2,setosa,1
3,4.6,3.1,1.5,0.2,setosa,1
4,5.0,3.6,1.4,0.2,setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,1
146,6.3,2.5,5.0,1.9,virginica,1
147,6.5,3.0,5.2,2.0,virginica,1
148,6.2,3.4,5.4,2.3,virginica,1
149,5.9,3.0,5.1,1.8,virginica,1

This was easy, but adding a column of only 1s might not be very useful. Instead, we can also pass an array with same size as the number of observations. For instance, we could add the squared petal width as a new column.

In [25]:
# Recall how the power operator in Python is **
iris["sq. petal width (cm²)"] = iris["petal width (cm)"] ** 2
iris # View the dataframe

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,my_new_column,sq. petal width (cm²)
0,5.1,3.5,1.4,0.2,setosa,1,0.04
1,4.9,3.0,1.4,0.2,setosa,1,0.04
2,4.7,3.2,1.3,0.2,setosa,1,0.04
3,4.6,3.1,1.5,0.2,setosa,1,0.04
4,5.0,3.6,1.4,0.2,setosa,1,0.04
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,1,5.29
146,6.3,2.5,5.0,1.9,virginica,1,3.61
147,6.5,3.0,5.2,2.0,virginica,1,4.00
148,6.2,3.4,5.4,2.3,virginica,1,5.29
149,5.9,3.0,5.1,1.8,virginica,1,3.24

Removing a column is very easy as well, in fact, we have nearly seen how to do it above when we did negative filtering on columns. We are going to use the `.drop` method, but this time, we want the `.drop` to act permanently.

In [26]:
# Notice how with the inplace=True argument, the iris dataframe is overwritten
iris.drop(columns=["my_new_column"], inplace=True)
# Another possible way to do this is to use
# iris = iris.drop(columns=["my_new_column"])
iris = iris.drop(columns=["my_new_column"])
iris # View the data

KeyError: "['my_new_column'] not found in axis"

### A note on inplace methods and overwriting

In `pandas`, a few methods come with an `inplace` argument, e.g., the `.drop` method used above. When `inplace=False`, the method does not change the initial dataframe, it just outputs a new object, which is a modified version of the initial dataframe. When `inplace=True`, however, the method acts **directly** on the initial dataframe and does not return anything!

In general, the two following are equivalent:

```python
my_df.some_method(..., inplace=True) # my_df gets modified 'in place'
my_df = my_df.some_method(..., inplace=False) # the modified version of my_df is assigned to my_df
```

however, the first one is slightly more elegant.


## Grouping the data
___
If you are familiar with Excel and pivot tables, you already know what *grouping* means even if you have never heard this term before. The main idea behind *grouping* is to group variables together such that we can compute some statistic on the each group, e.g., we might want to group the dataset by species and compute different statistics for each individual species.

In [ ]:
# Compute the mean of each variable for every species
iris.groupby("species").mean()

Looking at this example, grouping might seem easy. But what if you want to obtain more than just the mean of the variables? And what if you don't want to obtain statistics for all variables? In this case, the `.agg` method must be used, as you can see from the following example, it is extremely flexible:

In [ ]:
# Group the data by species, get the mean and median of the sepal length, 
# the min and max of the petal width, and the number of observation for each species
iris.groupby("species").agg({
    "sepal length (cm)": ["mean", "median"],
    "petal width (cm)": ["min", "max"],
    "species": ["count"]
})

Perhaps that was a bit complicated... in most cases, you will be fine with simpler `groupby(...).agg(...)` statements, but this is a nice illustration of how powerful it can be.

#### ➡️ ✏️ Task 4
For each iris species, compute the mean and standard deviation of the petal length in centimeters.

*Hint:* The standard deviation can be computed using `std`.

In [ ]:
# Enter your code below

iris.groupby("species").agg({
    "petal length (cm)": ["mean", "std"]
})